<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ATENDIMENTO_MÓVEL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ATENDIMENTO_MÓVEL.Properties.Settings>
            <setting name="textbox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox3" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox5" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox6" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox7" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox8" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox9" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox10" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox11" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox12" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox13" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox14" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox15" serializeAs="String">
                <value />
            </setting>
            <setting name="textbox4" serializeAs="String">
                <value />
            </setting>
            <setting name="check2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check14" serializeAs="String">
                <value>False</value>
            </setting>
        </ATENDIMENTO_MÓVEL.Properties.Settings>
    </userSettings>
</configuration>